body {
    margin: 0;
    overflow: hidden;
    background-color: #330033;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column; 
}

#typing-container {
    position: relative;
    display: inline-block; 
}

#greeting {
    font-size: 3em;
    font-family: monospace;
    color: #666; 
    
    white-space: nowrap; 
}

#wpm-counter {
    font-size: 2em;
    color: #999;
    font-family: monospace;
    margin-bottom: 20px;
    text-align: center;
}

.letter {
    display: inline-block; 
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.correct {
    color: #eee; 
}

.incorrect {
    color: #eee;
    background-color: #a00; 
}

.current-letter {
    text-decoration: underline;
    font-weight: bold;
}

#text-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: transparent; 
    font-size: 3em; 
    font-family: monospace;
    padding: 0; 
    text-align: left; 
    outline: none;
    caret-color: white; 
    z-index: 1; 
}

#command-bar-container {
    display: none; 
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#command-bar-container.visible {
    display: block;
}

#command-input {
    background-color: #111;
    color: #eee;
    border: 1px solid #999;
    padding: 10px;
    font-size: 1.5em;
    font-family: monospace;
    width: 400px;
    outline: none;
}
